html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 8rem;
}
h2 {
    margin-top: 2rem;
    font-size: 36px;
    font-weight: 400;
    line-height: 8rem;
}
h3 {
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 400;
    line-height: 7rem;
}
li {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3rem;
    color: #191919;
    margin: 1rem 5rem;
}
b {
    font-size: 20px;
    line-height: 3rem;

}
.t {
    margin-top: 8rem;
    overflow: hidden;
    background: #1f2b3e;
    width: 100vw;
    height: 50vw;
    background: url(../images/examplenet/system_dark.png) no-repeat;
    background-size: 100vw 59.4vw;
    position: relative;
}
.t div {
    position: absolute;
    width: 100vw;
    height: 50vw;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.t div:hover {
    background: rgba(0, 0, 0, 0.7);
}
.t .t-mask h1 {
    color: #fff;
    line-height: 50vw;
}
.def {
    overflow: hidden;
}
.def .w .hard {
    width: 112rem;
    height: 31.3rem;
    background: url(../images/examplenet/hard.png) no-repeat;
    background-size: 112rem 31.3rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caption {
    font-size: 10px;
    margin: 2rem 0;
    text-align: center;
    line-height: 1.5rem;
}
.txt {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3rem;
    color: #191919;
    margin: 1rem 3rem;
}
.def .w .goal-img {
    width: 112rem;
    height: 58rem;
    background: url(../images/examplenet/goal.png) no-repeat;
    background-size: 112rem 58rem;
}
.def .w .compare {
    width: 112rem;
    height: 45rem;
    background: url(../images/examplenet/compare.png) no-repeat;
    background-size: 112rem 45rem;
}
.formal {
    overflow: hidden;
}
.formal .w .formal-img{
    width: 112rem;
    height: 21.5rem;
    background: url(../images/examplenet/formal.png) no-repeat;
    background-size: 112rem 21.5rem;
}
.formal .w .formal-people{
    width: 112rem;
    height: 61.6rem;
    background: url(../images/examplenet/people.png) no-repeat;
    background-size: 112rem 61.6rem;
}
.formal .w .formal-questions{
    width: 112rem;
    height: 60.6rem;
    background: url(../images/examplenet/questions.png) no-repeat;
    background-size: 112rem 60.6rem;
    background-position-x: 1rem;
}
.formal .w .formal-results{
    width: 112rem;
    height: 52.6rem;
    background: url(../images/examplenet/needs.png) no-repeat;
    background-size: 112rem 52.6rem;
}
.formal-difficulties {
    width: 112rem;
    height: 54.6rem;
    background: url(../images/examplenet/difficulty.png) no-repeat;
    background-size: 112rem 54.6rem;
}
.design {
    overflow: hidden;
}
.design .w .flow {
    width: 112rem;
    overflow: hidden;
}
.design .w .flow .flow-img {
    width: 60rem;
    float: right;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3rem;
}
.design .w .flow .flow-img .flow1{
    width: 60rem;
    height: 33.5rem;
    background: url(../images/examplenet/original_design_flow1.png);
    background-size: 60rem 33.5rem;
}
.design .w .flow .flow-img .flow2 {
    width: 60rem;
    height: 27.9rem;
    background: url(../images/examplenet/original_design_flow2.png);
    background-size: 60rem 27.9rem;
}
.design .w .flow .flow-text {
    float: left;
    width: 52rem;
    box-sizing: border-box;
    padding: 0rem 3rem 3rem 0;
} 
.design .w .flow .flow-text .txt {
    margin: 0rem 0rem 1rem 0rem;
}
.design-li {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 5rem;
    color: #191919;
    margin-left: 3rem;
}
.design .w .design-text {
    width: 112rem;
    float: left;
    margin-top: 1rem;
}
.design .w .design-text .txt {
    margin: 0rem 0rem 1rem 0rem;
}
.design .w .mockup-name {
    float: left;
    font-size: 30px;
    line-height: 7rem;
}
.design .w .mockup-all {
    width: 112rem;
    overflow: hidden;
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.design .w .mockup-all .one-mockup {
    width: 112rem;
    height: 55rem;
}
.design .w .mockup-all .mockup {
    float: left;
    width: 112rem;
    height: 44.4rem;
}
.design .w .mockup-all .mockup .large-mockup {
    float: left;
    width: 112rem;
    height: 44.4rem;
}
.design .w .mockup-all .mockup .mockup1 {
    background: url(../images/examplenet/design_A.png) no-repeat;
    background-size: 112rem 44.4rem;
}
.design .w .mockup-all .mockup .mockup2 {
    background: url(../images/examplenet/design_B.png) no-repeat;
    background-size: 112rem 44.4rem;
}
.design .w .mockup-all .mockup .mockup3 {
    background: url(../images/examplenet/design_C.png) no-repeat;
    background-size: 112rem 44.4rem;
}
.design .w .mockup-all .mockup .mockup4 {
    background: url(../images/examplenet/design_D.png) no-repeat;
    background-size: 112rem 44.4rem;
}
.design .w .mockup-all .mockup .mockup5 {
    background: url(../images/examplenet/design_E.png) no-repeat;
    background-size: 112rem 44.4rem;
}
.system {
    overflow: hidden;
}
.system .w .principle {
    width: 112rem;
    height: 38rem;
    background: url(../images/examplenet/principle.png) no-repeat;
    background-size: 112rem 38rem;
}
.system .w .system-overview {
    width: 112rem;
    height: 65.4rem;
    background: url(../images/examplenet/system_dark.png) no-repeat;
    background-size: 112rem 65.4rem;
}
.system .w .data {
    width: 90rem;
    height: 34rem;
    background: url(../images/examplenet/workflow_v2.png) no-repeat;
    background-size: 90rem 34rem;
}
.study {
    overflow: hidden;
}
.study .w .study-img {
    width: 112rem;
    height: 21.3rem;
    background: url(../images/examplenet/study.png) no-repeat;
    background-size: 112rem 21.3rem;
    background-position-x: 1rem;
}
.study .w .study-ins {
    width: 112rem;
    height: 46.5rem;
    background: url(../images/examplenet/study-instruction.png) no-repeat;
    background-size: 112rem 46.5rem;
    background-position-x: 1rem;
}
.study .w .study-background {
    width: 112rem;
    height: 40.6rem;
    background: url(../images/examplenet/background.png) no-repeat;
    background-size: 112rem 40.6rem;
}
.study .w .study-process {
    width: 112rem;
    height: 30.7rem;
    background: url(../images/examplenet/process.png) no-repeat;
    background-size: 112rem 30.7rem;
    background-position-x: 1rem;
}
.study .w .study-results {
    width: 112rem;
    height: 40.6rem;
    background: url(../images/examplenet/study-results.png) no-repeat;
    background-size: 112rem 40.6rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.study .w .study-mistakes {
    width: 112rem;
    height: 37.8rem;
    background: url(../images/examplenet/mistakes.png) no-repeat;
    background-size: 112rem 37.8rem;
}
.study .w .study-feedback {
    width: 112rem;
}
.study .w .study-feedback .fb1 {
    float: right;
    width: 56rem;
    height: 31rem;
    background: url(../images/examplenet/fb1.png) no-repeat;
    background-size: 56rem 31rem;
}
.study .w .study-feedback .fb2 {
    float: left;
    width: 56rem;
    height: 31rem;
    background: url(../images/examplenet/fb2.png) no-repeat;
    background-size: 56rem 31rem;
}
.study .w .study-feedback .fb3 {
    float: right;
    width: 56rem;
    height: 31rem;
    background: url(../images/examplenet/fb3.png) no-repeat;
    background-size: 56rem 31rem;
}
.study .w #confident {
    width: 56rem;
    height: 30rem;
    float: left;
}
.study .w #useful {
    width: 56rem;
    height: 30rem;
    float: left;
}
.study .w #mental {
    float: left;
    width: 56rem;
    height: 30rem;
    background: url(../images/examplenet/mental.png) no-repeat;
    background-size: 56rem 23rem;
    background-position-y: 3.5rem;
}
.video {
    background: #f0f2f5;
    overflow: hidden;
    height: 45rem;
}
.video .w {
    overflow: hidden;
}
.video .w .videos {
    width: 112rem;
    overflow: hidden;
}
.video .w .videos .v {
    width: 37rem;
    float: left;
    height: 30rem;
}