h1 {
	font-family: Gill Sans;
	font-size: 50px;
}

h2 {
	font-size: 40px;
	
}

h3 {
	font-size: 35px;	
	color: #383D40;
}

h4 {
	color: #383D40;
}

a {
	color: #3E73BB;
}

p {
	font-family: Helvetica;
	font-weight: lighter;
	line-height: 1.6;
	font-size: 20px;
}

div {
	font-family: Helvetica;
	font-weight: lighter;
	line-height: 1.6;
}

#container {
	width: 100vw;
	height: 100vh;
}

#con_table {
	margin: 0 auto;
	width: 50vw;
	min-width: 600px;
}

#header {
	min-height: 200px;
}

#photo {
	vertical-align: top;
	min-height: 30vh;
	padding: 30px;
	justify-content: center;
}

#photo_div {
	margin: auto;
	padding-bottom: 30px;
}

#selfie {
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bio_info {
	text-align: center;
	margin: 10px;
}

#links {
	display: flex;
	justify-content: center;
}

#bio {
	min-width: 400px;
	width: 30vw;
}

#detail {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.home {
	color: #000;
	text-decoration: none;
}

.project_td {
	vertical-align: top;
}

.detail_td {
	vertical-align: top;
}

.project_img {
	border: 3px solid black;
	min-width: 200px;
	width: 18vw;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.project_div {
	font-weight: 500;
	color: #383D40;
}

.paper_title {
	color: #000;
	text-decoration: none;
	font-size: 22px;
}

.author {
	font-size: 20px;
}

.teaser_img {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.caption {
	font-family: Helvetica;
	font-weight: lighter;
	line-height: 1.5;
	font-size: 16px;
}

.demo {
	width: 50vw;
	height: 28.125vw;
}

.award {
	display: inline;
	color: #96A2DF;
	font-family: Helvetica;
	line-height: 1.5;
	font-size: 20px;
}